@import '@/lib/reset.scss';
// * { touch-action: pan-y };
// * { touch-action: none };
.h-header {
  @include rect(100%, 0.44rem);
  @include font-size(0.12rem);
  font-family: "Roboto";
  @include background-color(#1d1d1d);
  .search {
    @include text-color(rgba(170,170,170,1));
    display: flex;
    @include rect(2.3rem, 0.3rem);
    @include background-color(rgb(238,238,238));
    @include margin(0.07rem auto);
    @include border-radius(0.15rem);
    line-height: 0.3rem;
    span {
      @include rect(2.5rem, 100%);
      text-indent: 0.2rem;
    }
    i {
      @include rect(0.3rem, 100%);
    }
  }
}
.content {
  overflow: auto;
  // .slider-slide {
  //   @include rect(100%, 1.02rem);
  // }
  @include background-color(#EDEDED);
  .am-wingblank-lg.am-wingblank {
    @include rect(3.42rem, 2rem);
    @include margin(0 auto);
  }
  .covered {
    @include rect(100%,1rem);
    @include background-color(#1d1d1d);
    position: absolute;
    z-index:0;
  }
  .h-nav {
    @include rect(3.44rem, 1.5rem);
    @include background-color(#fff);
    @include margin(0 auto);
    @include border-radius(0.05rem);
    margin-bottom: 0.1rem;
    ul {
      @include flexbox();
      @include rect(100%, 100%);
      @include flex-wrap(wrap);
      // padding-top: 0.05rem;
      // border-bottom: 0.01 solid #D5D5D5;
      // @include justify-content(space-around);
      li {
        @include display(flex);
        @include flex-direction(column);
        @include rect(25%, 50%);
        img {
          @include rect(0.65rem, 0.55rem);
          // @include border-radius(50%);
          @include margin(0 auto);
        };
        span {
          @include font-size(0.1rem);
          @include line-height(0.1rem);
          @include rect(100%, 0.15rem);
          @include text-align(center);
          @include margin(0.05rem 0);
        }
      }
    }
  }
}
.h-goods {
  ul {
    width: 100%;
    @include flexbox();
    flex-wrap: wrap;
    li {
      position: relative;
      @include margin(0.08rem 0 0 0.08rem);
      @include flexbox();
      @include flex-direction(column);
      @include rect(1.68rem, 2.35rem);
      // @include padding(0.1rem 0.1rem);
      // border-top: 0.02rem solid #D5D5D5;
      img {
        @include rect(100%, 100%);
        // @include margin(0 0.09rem 0 0);
      }
      .home-goods {
        position: absolute;
        bottom:0;
        @include rect(100%, 0.68rem);
        @include flexbox();
        @include flex-direction(column);
        h3{
          @include margin(0 auto);
          @include font-size(0.14rem);
          @include text-color(#000);
          @include rect(1.51rem, 0.15rem);
          @include line-height(0.16rem);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .goods-box {
          @include flexbox();
          .goods-box-l {
            @include rect(100%,100%);
            .h-describe{
              @include font-size(0.1rem);
              @include text-color(#999);
              margin-left: 0.1rem;
            }
            .h-price {
              @include rect(100%, 100%);
              .h-price-n {
                @include font-size(0.14rem);
                @include text-color(#f33);
                @include margin(0 0 0 0.1rem)
              }
              .h-price-o {
                @include font-size(0.12rem);
                @include text-color(#999);
                @include margin(0 0 0 0.1rem);
                text-decoration: line-through;
              }
              .h-once {
                @include rect(0.5rem, 0.15rem);
                margin-left:0.3rem;
              }

            }
          }
        }
      }
    }
  }
}
.h-bottom {
  text-align:center;
  @include font-size(0.16rem);
  @include text-color(#999);
}

