@import '@/lib/reset.scss';
* { touch-action: pan-y }
html, body, #root, .container,.animated-router-container {
  @include rect(100%, 100%);
}
.container {
  @include flexbox();
  @include flex-direction(column);
  .box {
    @include flex();
    @include rect(100%, auto);
    @include flexbox();
    @include flex-direction(column);
    font-family: 'PingFangSC-regular';
    font-size:.18rem;
    color:#101010;
    .header {
      @include rect(100%, 0.44rem);
      @include background-color(#fff);
    }
    .content {
      @include flex();
      @include rect(100%, auto);
    }
  }
  .footer {
    @include rect(100%, 0.5rem);
    ul {
      @include rect(100%, 100%);
      @include flexbox();
      @include justify-content(space-between);
      @include padding(0 .18rem .07rem );
      a {
        @include rect(auto, 100%);
        @include flexbox();
        @include flex-direction(column);
        @include justify-content();
        @include align-items();
        @include text-color(#333);
        span{
          font-size:.25rem;
        }
        p{
          font-size:.13rem;
        }
        &.active {
          @include text-color(#ff3333);
        }
      }
      a:nth-child(2) {
        @include justify-content(space-between);
        span {
          font-size:.22rem;
          margin-top:-.01rem;
        }
      }
    }
  }
}