@import '@/lib/reset.scss';

.container {
  @include flexbox();
  @include flex-direction(column);
  .box4 {
    @include flex();
    @include rect(100%, auto);
    @include flexbox();
    @include flex-direction(column);
    .ico-bg {
      background:url('../img/userimg.png') no-repeat;
      @include rect(.25rem, .25rem);
    }
    .content {
      @include flex();
      @include rect(100%, auto);
      @include background-color(#f5f5f5);
      .user {
        @include rect(100%, 1.68rem);
        background:linear-gradient(#FF3060,#FF080E);
        position:relative;
        z-index:0;
        .cir1 {
          @include rect(.79rem, .79rem);
          border-radius:50%;
          background:linear-gradient(#FC2D59,#FE4D70);
          position:absolute;
          z-index:-1;
          top:.2rem;
          left:.27rem;
        }
        .cir2 {
          @include rect(.59rem, .59rem);
          border-radius:50%;
          background:linear-gradient(#FE4D70,#FF3662);
          position:absolute;
          z-index:-1;
          top:-.19rem;
          left:2.02rem;
        }
        .cir3 {
          @include rect(.41rem, .41rem);
          border-radius:50%;
          background:linear-gradient(#FF070E,#FF1426);
          position:absolute;
          z-index:-1;
          top:.91rem;
          left:2.15rem;
        }
        .cir4 {
          @include rect(.38rem, .38rem);
          border-radius:50%;
          background:linear-gradient(#FF0203,#FF1223);
          position:absolute;
          z-index:-1;
          top:1.12rem;
          left:3.31rem;
        }
        .cir5 {
          @include rect(.16rem, .16rem);
          border-radius:45% 40% 30% 30%;
          background:linear-gradient(#FF0810,#FF2244);
          position:absolute;
          z-index:-1;
          top:.61rem;
          left:2.8rem;
        }
        .u {
          @include flexbox();
          @include justify-content(flex-start);
          .u_l {
            @include rect(.85rem, .85rem);
            @include border-radius(50%);
            @include margin(.43rem 0 .4rem .07rem);
            img {
              @include rect(.85rem, .85rem);              
            }
          }
          .u_r {
            @include color(#747474);
            @include margin(0 .13rem 0 .1rem);
            @include flexbox();
            @include justify-content(space-between);
            @include flex-direction(column);
            @include color( #FFFEFE );
            @include rect(100%, auto);
            font-family:"SourceHanSansCN-Regular";
            @include line-height(.21rem);
            @include padding(.25rem 0 .59rem 0);
            .u_r_t {
              @include flexbox();
              @include justify-content(flex-end);
              .ico-bg {
                background-position:0 0;
              }
              .ico-bg:nth-child(2) {
                background-position:-.25rem 0;
                @include margin(0 0 0 .06rem);
              }
            }
            .u_r_c {
              @include flexbox();
              @include align-items();
              @include rect(100%, auto);
              span {
                @include font-size(.16rem);
                @include font-weight(100);
                @include line-height(.21rem);
              }
              .ico-bg {
                @include rect(.25rem, .25rem);
                background-position:-.5rem 0;
                @include margin(0 0 0 .07rem);
              }
            }
            .u_r_b {
              @include flexbox();
              @include justify-content(space-between);
              @include rect(100%, auto);
              @include padding(0 .06rem 0 0);
              span {
                @include font-size(.11rem);
                @include line-height(.18rem);
              }
            }
          }
        }
      }
      .con {
        @include padding(0 0.08rem 0 0.09rem);
        position:relative;
        .collection {
          @include flexbox();
          @include rect(3.4rem, .4rem);
          @include justify-content(space-between);
          @include align-items();
          @include line-height(.31rem);
          @include background-color(#fff);
          @include border-radius(.05rem);
          box-shadow:0 .02rem .05rem .01rem rgba(0,0,0,.11);
          position:absolute;
          top:-.51rem;
          .c_l {
            @include flexbox();
            @include align-items();
            @include font-size(.14rem);
            @include color(#333);
            .ico-bg {
              background-position:-.75rem 0;
              @include margin(0 .03rem 0 .09rem);
            }
          }
          .c_r {
            @include flexbox();
            @include align-items();
            .ico-bg {
              background-position:-1rem 0;
            }
          }
        }
        .order {
          @include background-color(#fff);
          @include padding(0.02rem 0);
          @include margin(.31rem 0 .09rem);
          @include border-radius(.05rem);
          .o_t {
            @include flexbox();
            @include justify-content(space-between);
            @include align-items();
            @include line-height(.39rem);
            border-bottom:.01rem solid #ccc;
            .o_t_l {
              @include font-size(.14rem);
              @include color(#333);              
              @include flexbox();
              @include align-items();
              .ico-bg {
                background-position:0 -.25rem;
                @include margin(0 .03rem 0 .09rem);
              }
            }
            .o_t_r {
              @include font-size(.12rem);
              @include color(#666);
              @include flexbox();
              @include align-items();
              .ico-bg {
                background-position:-1rem 0;
                @include margin(0 0 0 .06rem);
              }
            }
          }
          .o_b {
            @include rect(100%, auto);
            ul {
              @include rect(100%, 100%);
              @include flexbox();
              @include justify-content(space-between);
              @include padding(0 .22rem 0 .21rem);
              li {
                @include rect(auto, 100%);
                @include flexbox();
                @include flex-direction(column);
                @include justify-content();
                @include align-items();
                @include color(#666);
                .ico-bg {
                  @include margin(.09rem 0 0);
                }
                .ico-bg.q {
                  background-position:-.25rem -.25rem;
                }
                .ico-bg.w {
                  background-position:-.5rem -.25rem;
                }
                .ico-bg.e {
                  background-position:-.75rem -.25rem;
                }
                .ico-bg.r {
                  background-position:-1rem -.25rem;
                }
                p {
                  @include font-size(.12rem);
                  @include margin(.05rem 0 .09rem 0);
                }
              }
            }
          }
        }
        .address {
          @include background-color(#fff);
          @include border-radius(.05rem);
          margin-bottom:.09rem;
          .a_t {
            @include flexbox();
            @include justify-content(space-between);
            @include align-items();
            @include line-height(.41rem);
            .a_t_l {
              @include font-size(.14rem);
              @include color(#333);
              @include flexbox();
              @include align-items();
              .ico-bg {
                background-position:0 -.5rem;
                @include margin(0 .03rem 0 .09rem);
              }
            }
            .a_t_r {
              @include flexbox();
              .ico-bg {
                background-position:-1rem 0;
              }
            }
          }
        }
        .vip {
          @include background-color(#fff);
          @include rect(100%, auto);
          @include border-radius(.05rem);
          ul {
            @include rect(100%, auto);
            li {
              @include flexbox();
              @include justify-content(space-between);
              @include align-items();
              @include line-height(.38rem);
              .v_l {
                @include font-size(.14rem);
                @include color(#333);
                @include flexbox();
                @include align-items();
                .ico-bg {
                  @include margin(0 .03rem 0 .09rem);
                }
                .ico-bg.a {
                  background-position:-.25rem -.5rem;
                }
                .ico-bg.s {
                  background-position:-.5rem -.5rem;
                }
                .ico-bg.d {
                  background-position:-.75rem -.5rem;
                }
              }
              .v_r {
                @include flexbox();
                .ico-bg {
                  background-position:-1rem 0;
                }
              }
            }
          }
        }
     }
    }
  }
}
